@import '../components/common/global';
@import '../components/common/variables';

.cart {

    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;

    .inner {
        max-width: 640px;
        margin: 0 auto;
        padding: 15px;
    }

    :global {

        .Toastify__toast {
            margin-bottom: .75rem;
            padding: 10px;
            font-size: .9em;
            font-weight: 300;
        }

        .Toastify__toast--error {
            background: #D45853;
        }

    }

}
