@import '../common/variables';

.product-list {

    max-width: 1280px;
    margin: 0 auto;

    .filters {

        max-width: 640px;
        margin: 0 auto 50px;
        padding: 20px 0;
        border-bottom: 1px solid #eee;

        @media (min-width: $tablet) {
            display: flex;
            justify-content: center;
            padding: 50px 0;
        }

        .category {

            display: flex;
            padding: 0 15px;
            border-right: 1px solid #eee;

            &:last-child {
                border-right: 0;
            }

        }

        .filter {

            flex: 1;
            display: flex;
            align-items: center;
            font-size: .95em;
            color: #444;
            padding: 10px;
            cursor: pointer;
            user-select: none;

            @media (min-width: $tablet) {
                justify-content: center;
                padding: 15px;
            }

        }

    }

    .products {

        max-width: 1280px;
        margin: 0 auto;

        & > div {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .nada {

            display: flex;
            align-items: center;
            height: 240px;
            padding: 25px;
            font-size: 1.1em;
            font-weight: 300;
            color: #ccc;
            text-align: center;

            @media (min-width: $tablet) {
                height: 360px;
                padding: 50px 15px;
                font-size: 1.3em;
            }

        }

        .product {

            margin: 0 10px 50px;
            cursor: pointer;
            user-select: none;

            @media (min-width: $tablet) {

                margin: 0 25px 50px;

                &:hover .photo {
                    opacity: 1;
                    transform: scale(1.1);
                }

            }

            .photo {

                height: 320px;
                transform-origin: 50% 100%;
                transition: transform .3s ease, opacity .3s ease;

                @media (min-width: $tablet) {
                    height: 380px;
                    opacity: .85;
                }

                @media (min-width: $desktop) {
                    height: 460px;
                }

                img {
                    height: 100%;
                }

            }

            .caption {

                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #444;

                .name {
                    padding: 10px 0;
                    font-size: 1.1em;
                    font-weight: 300;
                    letter-spacing: 1px;
                }

                .price {

                }

            }

        }

    }

}
