:global {

    .image-gallery-slide {

        text-align: center;

        img {

            width: auto;
            max-height: 320px;

            @media (min-width: 500px) {
                width: 100%;
                max-height: none;
            }

        }

    }

    .image-gallery-fullscreen-button:hover::before, .image-gallery-play-button:hover::before, .image-gallery-left-nav:hover::before, .image-gallery-right-nav:hover::before {
        color: #222;
    }

    .image-gallery-fullscreen-button::before, .image-gallery-play-button::before, .image-gallery-left-nav::before, .image-gallery-right-nav::before {
        text-shadow: 0 0 2px #999;
    }

    .image-gallery-thumbnail.active {
        border: 2px solid #222;
    }

}
